/* styles.css */

body {
  background-image: url(../img/5268bb5ca2fc98fb8027542d405a996e.jpg);
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.titulo {
  text-align: center;
  color: peru;


}
.genero-container {
  color: rgb(37, 24, 11);
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  width: 20px;
}

.genero {
  display: flex;
  flex-wrap: wrap;
  color: peru;
  gap: 10px;

}

